// _variables.scss 
//========================

// COLOURS
$grey: #EEE;
$black: #333333;
$green: #669933;
$darkGrey: #666;
$lightGreen: #ACD037;
$yellow: #ff9933; 
$blue: #3399cc;
$pink: #cc0066; 
$smokeGrey: #F5F5F5;
