<!DOCTYPE html>
<html lang="en">
  @@include('./structure/head.html')
<body id="slips">
    <!-- topBanner -->
    @@include('./structure/topBannerTools.html')
    <!-- /# topBanner -->


                <div class="row">

                    <div class="col-xs-10 col-xs-offset-1" >
                      @@include('./content/tools-slips.html')
                    </div> <!-- /#col-md-9 col-md-offset-1 -->
                </div> <!-- /#row -->

    </div><!-- /#wrapper -->




    <!-- footer -->
    @@include('./structure/footer.html')
    <!-- /#footer -->


    <!-- jQuery -->


</body>
<script src="_/js/myscript.js"></script>
</html>
