<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Kerboodle Support</title>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <link href="/_/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    <link href="_/css/style.css" rel="stylesheet" media="screen">
    <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1-rc2/jquery.min.js"></script>
    <script src="_/js/bootstrap.js"></script>
    <script src="_/js/detlibs.js"></script>

</head>
<body id="system">
    <!-- topBanner -->
    @@include('./structure/topBannerTools.html')
    <!-- /# topBanner -->

                <div class="row">

                    <div class="col-xs-10 col-xs-offset-1" >
                      @@include('./content/tools-system.html')
                    </div> <!-- /#col-md-9 col-md-offset-1 -->
                </div> <!-- /#row -->

    <!-- footer -->
    @@include('./structure/footer.html')
    <!-- /#footer -->


    <!-- jQuery -->


</body>
<script src="_/js/myscript.js"></script>
</html>
